body {
  /* background: url("../images/backdrop.jpg") no-repeat center center fixed;  */
  background: url("../images/backdrop.jpg");
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-size: cover;
  height: 100%;
  overflow: hidden;
  }
    